@model Econobuy_Web.Models.FinalizaPedidoTrad

@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    if (Session["clienteID"] == null)
    {
        Response.Redirect("~/Cliente/Index");
    }
    ViewBag.Title = "Finalizar Pedido";
}


<div class="form-horizontal">
    <div class="form-group">
        <div class="form-group">
            <h3>Mercado</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Mercado, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>


        <div class="form-group">
            <h3>@Html.LabelFor(model => model.CEP, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.Logradouro, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.Telefone_1, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Telefone_1, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.Telefone_2, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Telefone_2, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
       
        <table class="table table-hover table-bordered bg-light">
            <tr class="bg-dark text-light">
                <th>
                    @Html.DisplayNameFor(model => model.Carrinho[0].Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Carrinho[0].Qtde)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Carrinho[0].Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Carrinho[0].ValorTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Carrinho[0].Descricao)
                </th>
            </tr>
            @foreach (var item in Model.Carrinho)
            {
                <tr>
                    <td>
                        <div><img src="/Cliente/MostraImagemProduto/@item.ProdID" alt="" height=150 width=150 /></div>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Qtde)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorTotal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="text-center">
    <button type="button" class="btn btn-outline-warning active btn-lg  text-white text-decoration-none">
        @Html.ActionLink("Finalizar Pedido", "FinalizarPedidoTrad", new { area = "" }, new { @style = "color: white; text-decoration:none; " })
    </button>
</div>