@model IEnumerable<Econobuy_Web.Models.CarrinhoTrad>

@{
    ViewBag.Title = "Carrinho";
}

    <div>
        <button type="button" class="btn btn-outline-warning active  text-white text-decoration-none">
            @Html.ActionLink("Adicionar Novo Produto", "ListarProdutosModoTradicional", new { id = Convert.ToInt32(Session["mercadoTradID"]) }, new { @style = "color: white; text-decoration:none; " })
        </button>
    </div>
<br/>
<h2>Carrinho de compras</h2>

<table class="table table-hover table-bordered bg-light">
    <tr class="bg-dark text-light">
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qtde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qtde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Remover", "DeletaItemCarrinhoTrad", new { id = item.Id }, new { onclick = "return confirm('Confirme a remoção')" })
            </td>
        </tr>
    }

</table>
<div class="text-center">
    <button type="button" class="btn btn-outline-warning active btn-lg text-white text-decoration-none">
        @Html.ActionLink("Finalizar Pedido", "FinalizaPedidoTrad", new { area = "" }, new { @style = "color: white; text-decoration:none; " })
    </button>
</div>
