@model IEnumerable<Econobuy_Web.Models.ConsultaProdutos>

@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    if (Session["clienteID"] == null)
    {
        Response.Redirect("~/Cliente/Index");
    }
    ViewBag.Title = "Produtos";
}


<div>
    <button type="button" class="btn btn-outline-warning active  text-white text-decoration-none">
        @Html.ActionLink("Escolher outro mercado", "excluirPedidoTrad", new { area = "" }, new { @style = "color: white; text-decoration:none; " })
    </button>
</div>

<h2>Produtos</h2>

<table class="table table-hover table-bordered bg-light">
    <tr class="bg-dark text-light">
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria_01)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria_02)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria_03)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div><img src="/Cliente/MostraImagemProduto/@item.Id" alt="" height=150 width=150 /></div>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria_01)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria_02)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria_03)
            </td>
            <td>
                @Html.ActionLink("Visualizar", "MostraProduto", new { id = item.Id })
            </td>
        </tr>
    }

</table>


