@model Econobuy_Web.Models.VisualizarPedido

@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
    if (Session["clienteID"] == null)
    {
        Response.Redirect("~/Clinete/Index");
    }
    ViewBag.Title = "Visualizar Pedido";
}

<h2>Pedido</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <h3>Mercado</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Mercado_Ou_Cliente, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Data, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.CEP, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.CEP, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.Logradouro, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.Telefone_1, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Telefone_1, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.Telefone_2, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Telefone_2, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <h3>@Html.LabelFor(model => model.PedID, htmlAttributes: new { @class = "control-label" })</h3>
            <div class="col-md-10">
                @Html.DisplayFor(model => model.PedID, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Ver Itens" class="btn btn-warning" />
            </div>
        </div>
    </div>
}

